@{
    ViewData["Title"] = "Chính sách Phòng khám";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Chính sách Phòng khám</h2>
    <hr />
    <p>
        Chào mừng bạn đến với Phòng khám của chúng tôi. Dưới đây là những nguyên tắc và quy định mà chúng tôi tuân thủ để đảm bảo môi trường an toàn, chất lượng và chuyên nghiệp cho tất cả bệnh nhân của chúng tôi:
    </p>
    <h4>1. Bảo mật thông tin</h4>
    <p>
        Chúng tôi cam kết bảo mật tất cả thông tin cá nhân và y tế của bệnh nhân theo các quy định và luật pháp hiện hành.
    </p>

    <h4>2. Lịch hẹn và thời gian chờ đợi</h4>
    <p>
        Chúng tôi tôn trọng thời gian của bệnh nhân và cố gắng duy trì lịch hẹn chính xác. Tuy nhiên, có thể xảy ra trường hợp chờ đợi do tình huống khẩn cấp hoặc biến đổi không lường trước.
    </p>

    <h4>3. Chất lượng dịch vụ</h4>
    <p>
        Chúng tôi cam kết cung cấp dịch vụ y tế chất lượng và tận tâm, dựa trên kiến thức chuyên môn và công nghệ tiên tiến.
    </p>

    <h4>4. Gói dịch vụ và giá cả</h4>
    <p>
        Chúng tôi cung cấp các gói dịch vụ y tế đa dạng và minh bạch về giá cả. Chi tiết về giá cả sẽ được thông báo rõ ràng trước khi thực hiện dịch vụ.
    </p>

    <h4>5. Phản hồi và khiếu nại</h4>
    <p>
        Chúng tôi luôn lắng nghe phản hồi và khiếu nại từ bệnh nhân để cải thiện dịch vụ và quy trình làm việc của mình. Xin vui lòng liên hệ với chúng tôi nếu bạn có bất kỳ ý kiến đóng góp hoặc khiếu nại nào.
    </p>

    <h4>6. Hủy lịch hẹn</h4>
    <p>
        Bệnh nhân vui lòng thông báo trước nếu bạn muốn hủy hoặc thay đổi lịch hẹn. Việc thông báo sớm giúp chúng tôi điều chỉnh lịch trình và hỗ trợ người khác.
    </p>

    <p>
        Xin vui lòng đọc kỹ và hiểu rõ Chính sách Phòng khám trước khi sử dụng dịch vụ của chúng tôi. Chúng tôi cảm ơn bạn đã tin tưởng và lựa chọn chúng tôi cho nhu cầu y tế của bạn.
    </p>

    <p>
        Để biết thêm thông tin hoặc có bất kỳ câu hỏi nào, vui lòng liên hệ với chúng tôi theo thông tin dưới đây.
    </p>
</div>