@{
    ViewData["Title"] = "Chính sách Khách hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Chính sách Khách hàng</h2>
    <hr />
    <p>
        Chào mừng bạn đến với ứng dụng quản lý phòng khám của chúng tôi. Chúng tôi cam kết mang đến trải nghiệm tốt nhất cho bạn, với sự tôn trọng và quan tâm đặc biệt dành cho tất cả khách hàng của mình. Dưới đây là những nguyên tắc và cam kết mà chúng tôi tuân thủ:
    </p>
    <h4>1. Sự Riêng tư và Bảo mật</h4>
    <p>
        Chúng tôi cam kết bảo vệ tính riêng tư và bảo mật thông tin của bạn. Mọi thông tin cá nhân và y tế được bảo mật theo các quy định pháp luật và tiêu chuẩn an toàn.
    </p>

    <h4>2. Đội ngũ Chuyên nghiệp</h4>
    <p>
        Đội ngũ chúng tôi gồm các chuyên gia và chuyên viên có kinh nghiệm, luôn sẵn sàng lắng nghe và tư vấn cho bạn về mọi thắc mắc liên quan đến dịch vụ của chúng tôi.
    </p>

    <h4>3. Chất lượng Dịch vụ</h4>
    <p>
        Chất lượng dịch vụ là ưu tiên hàng đầu của chúng tôi. Chúng tôi cam kết cung cấp các dịch vụ y tế chất lượng cao, dựa trên kiến thức chuyên môn và thiết bị hiện đại.
    </p>

    <h4>4. Lịch hẹn và Thời gian</h4>
    <p>
        Chúng tôi tôn trọng thời gian của bạn và sẽ nỗ lực duy trì lịch hẹn chính xác. Nếu có sự thay đổi, chúng tôi sẽ thông báo cho bạn càng sớm càng tốt.
    </p>

    <h4>5. Phản hồi và Đóng góp</h4>
    <p>
        Phản hồi và đóng góp của bạn rất quan trọng đối với chúng tôi. Chúng tôi luôn hoan nghênh mọi ý kiến để cải thiện dịch vụ và mang đến trải nghiệm tốt hơn cho bạn.
    </p>

    <p>
        Chúng tôi xin chân thành cảm ơn sự tin tưởng và lựa chọn của bạn. Để biết thêm thông tin hoặc có bất kỳ câu hỏi nào, vui lòng liên hệ với chúng tôi theo thông tin dưới đây.
    </p>
</div>
