
@{
    ViewBag.Title = "CustomerCare";
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
}
<section class="cat-box col-md-12 w-80" style="padding: 10px; ">
    <div class="cat-box-content">
        <div id="detail_container" style="padding:10px;">
            <section class="events list">
                <h3 class="title" style="margin-top:10px;"><a href="#"><strong>Dịch vụ Chăm sóc khách hàng</strong></a></h3>
                <p style="margin-top:-10px; margin-bottom:0px;"><span class="publish-date">18/11/2023 16:20:00</span></p>
                <div id="main_container" align="justify" style="padding:4px;font-family:arial;text-align: justify; font-size:18px;">
                    <div>
                        <span style="font-size:18px"><span style="font-family:times new roman,times,serif">Bộ phận Chăm sóc khách hàng Bệnh viện Phòng khám MTT với đội ngũ nhân viên chuyên nghiệp và tận tâm, không ngừng cải tiến và hoàn thiện các dịch vụ nhằm đáp ứng nhu cầu ngày càng cao của Quý khách.</span></span><br>
                        &nbsp;
                    </div>

                    <div style="text-align:center"><span style="font-size:18px"><span style="font-family:times new roman,times,serif"><img src="https://www.bvdaihoc.com.vn/upload/images/cms/2013/12/01/10.jpg" alt="" style="width: 100%;"></span></span></div>
                    <br/>
                    <p><span style="font-size:18px"><span style="font-family:times new roman,times,serif">CÁC DỊCH VỤ CHĂM SÓC KHÁCH HÀNG</span></span></p>

                    <div style="margin-left: 15px;">
                        <p><span style="font-size:18px"><span style="font-family:times new roman,times,serif">- Dịch vụ đăng ký khám bệnh qua điện thoại</span></span></p>

                        <p><span style="font-size:18px"><span style="font-family:times new roman,times,serif">- Dịch vụ vận chuyển, đưa đón bằng xe cấp cứu</span></span></p>

                        <p><span style="font-size:18px"><span style="font-family:times new roman,times,serif">- Dịch vụ phiên dịch (tiếng Anh, Hoa, Hàn Quốc, Campuchia)</span></span></p>

                        <p><span style="font-size:18px"><span style="font-family:times new roman,times,serif">- Cung cấp thông tin y tế và giáo dục sức khỏe cộng đồng</span></span></p>

                        <p><span style="font-size:18px"><span style="font-family:times new roman,times,serif">- Dịch vụ tiện ích: giới thiệu khách sạn, nhà trọ, giặt ủi…</span></span></p>
                    </div>

                    <p>&nbsp;</p>

                    <p><span style="font-size:18px"><span style="font-family:times new roman,times,serif">Mọi chi tiết vui lòng liên hệ Bộ phận Chăm sóc Khách hàng</span></span></p>

                    <p><span style="font-size:18px"><span style="font-family:times new roman,times,serif">Điện thoại: 1900 7178</span></span></p>
                </div>
            </section><!--//events-->
            <section class="events list">
                <h2 class="line" style="color:#d24400"><span>Các tin đã đăng</span></h2>
                <div class="details col-md-12">
                    <ul class="home" style="padding-left: 0px;">
                        <li><a href="/Home/ViewDetail/801">TRIỂN KHAI THẺ KHÁM BỆNH CÓ CHỨC NĂNG THANH TOÁN VIỆN PHÍ TRỰC TUYẾN</a><span class="publish-date">(16/09/2016)</span></li>
                        <li><a href="/Home/ViewDetail/288">Danh mục 11003 kỹ thuật trong khám, chữa bệnh thực hiện tại Phòn khám MTT</a><span class="publish-date">(20/08/2016)</span></li>
                        <li><a href="/Home/ViewDetail/137">Vận chuyển bằng xe cứu thương</a><span class="publish-date">(02/04/2014)</span></li>
                        <li><a href="/Home/ViewDetail/9">Khám, Tầm soát và Chăm sóc sức khỏe định kỳ</a><span class="publish-date">(18/12/2013)</span></li>
                        <li><a href="/Home/ViewDetail/7">Dịch vụ  Điều trị nội trú</a><span class="publish-date">(18/12/2013)</span></li>
                        <li><a href="/Home/ViewDetail/15">Tư vấn sử dụng thuốc</a><span class="publish-date">(03/01/2013)</span></li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
</section>