
@{
    ViewBag.Title = "TRANG CHỦ";
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
}

<link href="~/Content/Chuyendong.css" rel="stylesheet" />
<link href="~/Content/Header.css" rel="stylesheet" />
<link href="~/Content/fontawesome-free-6.2.1-web/css/all.css" rel="stylesheet">
<link href="~/Content/fontawesome-free-6.2.1-web/css/v4-shims.css" rel="stylesheet">

<div class="background">
    <div class="slideshow-container" style="background-color:white">
        <div class="mySlides fade" style="text-align:center">
            <a href="~/Home/VD5916">
                <img class="d-block w-100" src="~/Images/Slide/slide1.jpg" alt="First slide" style="height: 500px;">
            </a>
        </div>

        <div class="mySlides fade">
            <a href="~/Home/VD5916">
                <img class="d-block w-100" src="~/Images/Slide/slide2.jpg" alt="First slide" style="height: 500px;">
            </a>
        </div>

        <div class="mySlides fade">
            <a href="~/Home/VD5916">
                <img class="d-block w-100" src="~/Images/Slide/slide3.jpg" alt="First slide" style="height: 500px;">
            </a>
        </div>

        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(0)"></span>
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
        </div>
    </div>

    <div class="d_flex">
        <section class="cat-box col-md-6" style="padding-left:10px; padding-right:10px;">
            <div class="cat-box-title tintuc">
                <h2>
                    <a href="/Home/VD5916">
                        Tin tức
                    </a>
                </h2>
                <div class="stripe-line"></div>
            </div>
            <div id="ktyk" class="cat-box-content partialContents" data-url="/home/hometintucindex">
                <ul style="list-style:none;">
                    <li class="first-news">
                        <div class="inner-content">
                            <div class="post-thumbnail">
                                <a href="/Home/VD5916">
                                    <img src="https://www.bvdaihoc.com.vn/upload/images/cms/2023/10/27/z4778821141115_3c86dcd9e362fa60123afdaba2c276af%20(2).jpg" alt="" class="img-fluid"> <span class="overlay-icon"></span>
                                </a>
                            </div>
                            <h4 class="post-box-title">
                                <a href="/Home/VD5916">
                                    LỄ KỶ NIỆM NGÀY “CHĂM SÓC GIẢM NHẸ THẾ GIỚI 2023”
                                </a>
                            </h4>
                            <div class="entry">
                                Với chủ đề "Cộng đồng trắc ẩn: Cùng nhau chăm sóc giảm nhẹ", chương trình đã thu hút hơn 100 người bệnh là người cao tuổi và gia đình tham dự. <a href="/Home/VD5916" class="more-link">Xem tiếp »</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div style="padding: 20px 20px 10px 20px; overflow: hidden; border-top: 1px solid #ffffff;">
                            <div class="post-thumbnail">
                                <a href="/Home/VD5916">
                                    <img src="https://www.bvdaihoc.com.vn/upload/images/cms/2023/10/11/Thi%E1%BA%BFt%20k%E1%BA%BF%20ch%C6%B0a%20c%C3%B3%20t%C3%AAn%20(1).png" alt="" style="width:55px;height:55px;">
                                </a>
                            </div>
                            <h6 class="post-box-title">
                                <a href="/Home/VD5916">
                                    Chương trình “Gửi lời yêu thương 20/10”
                                </a>
                            </h6>
                        </div>
                    </li>
                    <li>
                        <div style="padding: 20px 20px 10px 20px; overflow: hidden; border-top: 1px solid #ffffff;">
                            <div class="post-thumbnail">
                                <a href="/Home/VD5916">
                                    <img src="https://www.bvdaihoc.com.vn/upload/images/cms/2023/9/2/DSC09017daDA.jpeg" alt="" style="width:55px;height:55px;">
                                </a>
                            </div>
                            <h6 class="post-box-title">
                                <a href="/Home/VD5916">
                                    NGÀY HỘI CHĂM SÓC SỨC KHỎE NGƯỜI CAO TUỔI 2023
                                </a>
                            </h6>
                        </div>
                    </li>
                    <li>
                        <div style="padding: 20px 20px 10px 20px; overflow: hidden; border-top: 1px solid #ffffff;">
                            <div class="post-thumbnail">
                                <a href="/Home/VD5916">
                                    <img src="https://www.bvdaihoc.com.vn/upload/images/cms/2023/9/25/DSC02981%20(2).jpg" alt="" style="width:55px;height:55px;">
                                </a>
                            </div>
                            <h6 class="post-box-title">
                                <a href="/Home/VD5916">
                                    Phòng khám MTT chung tay hỗ trợ người dân bị ảnh hưởng thiên tai, hỏa hoạn, dịch bệnh
                                </a>
                            </h6>
                        </div>
                    </li>
                    <li>
                        <div style="padding: 20px 20px 10px 20px; overflow: hidden; border-top: 1px solid #ffffff;">
                            <div class="post-thumbnail">
                                <a href="/Home/VD5916">
                                    <img src="https://www.bvdaihoc.com.vn/upload/images/cms/2023/9/8/DSC01120%20(3).jpg" alt="" style="width:55px;height:55px;">
                                </a>
                            </div>
                            <h6 class="post-box-title">
                                <a href="/Home/VD5916">
                                    Phòng khám MTT hoàn thành chuyển giao kỹ thuật tim mạch can thiệp cho Bệnh viện Đa khoa Tiền Giang
                                </a>
                            </h6>
                        </div>
                    </li>
                </ul>

            </div>
        </section>
        <section class="cat-box col-md-6" style="padding-left:10px; padding-right:10px;">
            <div class="cat-box-title hoatdong">
                <h2>
                    <a href="/Home/VD5858">
                        Hoạt Động
                    </a>
                </h2>
                <div class="stripe-line"></div>
            </div>
            <div id="ktyk" class="cat-box-content partialContents" data-url="/home/HomeHoatDongIndex">
                <ul style="list-style:none;">
                    <li class="first-news">
                        <div class="inner-content">
                            <div class="post-thumbnail">
                                <a href="/Home/VD5858">
                                    <img src="https://www.bvdaihoc.com.vn/upload/images/cms/2023/9/29/Thi%E1%BA%BFt%20k%E1%BA%BF%20ch%C6%B0a%20c%C3%B3%20t%C3%AAn%20(2).png" alt="" class="img-fluid"> <span class="overlay-icon"></span>
                                </a>
                            </div>
                            <h4 class="post-box-title">
                                <a href="/Home/VD5858">
                                    Phòng khám MTT vinh dự đón tiếp Thứ trưởng Bộ Y tế, Lao động và Phúc lợi Nhật Bản cùng đoàn công tác đến tham quan bệnh viện
                                </a>
                            </h4>
                            <div class="entry">
                                Ngày 28/9/2023, Phòng khám MTT đã vinh dự đón tiếp Thứ trưởng Bộ Y tế, Lao động và Phúc lợi Nhật Bản cùng đoàn công tác đến tham quan Bệnh viện.  <a href="/Home/VD5858" class="more-link">Xem tiếp »</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div style="padding: 20px 20px 10px 20px; overflow: hidden; border-top: 1px solid #ffffff;">
                            <div class="post-thumbnail">
                                <a href="/Home/VD5858">
                                    <img src="https://www.bvdaihoc.com.vn/upload/images/cms/2023/9/25/Thi%E1%BA%BFt%20k%E1%BA%BF%20ch%C6%B0a%20c%C3%B3%20t%C3%AAn%20(1).png" alt="" style="width:55px;height:55px;">
                                </a>
                            </div>
                            <h6 class="post-box-title">
                                <a href="/Home/VD5858">
                                    Chúc mừng Ngày Dược sĩ Thế giới 25/9/2023 – “Dược sĩ cùng sự phát triển bền vững của ngành Y tế”
                                </a>
                            </h6>
                        </div>
                    </li>
                    <li>
                        <div style="padding: 20px 20px 10px 20px; overflow: hidden; border-top: 1px solid #ffffff;">
                            <div class="post-thumbnail">
                                <a href="/Home/VD5858">
                                    <img src="https://www.bvdaihoc.com.vn/upload/images/cms/2023/8/23/Thi%E1%BA%BFt%20k%E1%BA%BF%20ch%C6%B0a%20c%C3%B3%20t%C3%AAn%20(3).png" alt="" style="width:55px;height:55px;">
                                </a>
                            </div>
                            <h6 class="post-box-title">
                                <a href="/Home/VD5858">
                                    Phòng khám MTT đón tiếp Bệnh viện đa khoa Thiện Hạnh đến tham quan và trao đổi kinh nghiệm
                                </a>
                            </h6>
                        </div>
                    </li>

                    <li>
                        <div style="padding: 20px 20px 10px 20px; overflow: hidden; border-top: 1px solid #ffffff;">
                            <div class="post-thumbnail">
                                <a href="/Home/ViewDetail/5770#maincontent">
                                    <img src="https://www.bvdaihoc.com.vn/upload/images/cms/2023/8/22/Thi%E1%BA%BFt%20k%E1%BA%BF%20ch%C6%B0a%20c%C3%B3%20t%C3%AAn%20(1).png" alt="" style="width:55px;height:55px;">
                                </a>
                            </div>
                            <h6 class="post-box-title">
                                <a href="/Home/ViewDetail/5770#maincontent">
                                    Hội nghị “Lấy ý kiến góp ý dự thảo Nghị định Quy định xét tặng danh hiệu Thầy thuốc nhân dân, Thầy thuốc ưu tú và Tập huấn công tác thi đua, khen thưởng ngành Y tế năm 2023”
                                </a>
                            </h6>
                        </div>
                    </li>
                </ul>

            </div>
        </section>
    </div>
</div>

<script>
    //khai báo biến slideIndex đại diện cho slide hiện tại
    var slideIndex;
    // KHai bào hàm hiển thị slide
    function showSlides() {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }

        slides[slideIndex].style.display = "block";
        dots[slideIndex].className += " active";
        //chuyển đến slide tiếp theo
        slideIndex++;
        //nếu đang ở slide cuối cùng thì chuyển về slide đầu
        if (slideIndex > slides.length - 1) {
            slideIndex = 0
        }
        //tự động chuyển đổi slide sau 5s
        setTimeout(showSlides, 10000);
    }
    //mặc định hiển thị slide đầu tiên
    showSlides(slideIndex = 0);

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }
</script>