
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
}

<div class="col-md-12 col-sm-12 col-xl-12 main-content-no-right-content w-80" id="maincontent" style="padding-bottom:20px;">
    <div class="col-md-8 col-sm-12 col-xl-12 main-content" id="main-content">
        <section class="cat-box col-md-12" style="margin-left:5px;margin-top:10px;padding-right: 10px;">
            <div class="cat-box-content">
                <div id="detail_container" style="padding:10px;">
                    <section class="events list">
                        <h3 class="title" style="margin-top:10px;"><a href="#"><strong>LỄ KỶ NIỆM NGÀY “CHĂM SÓC GIẢM NHẸ THẾ GIỚI 2023”</strong></a></h3>
                        <p style="margin-top:-10px; margin-bottom:0px;"><span class="publish-date">14/10/2023 11:36:00</span></p>
                        <div id="main_container" align="justify" style="padding:4px;font-family:arial;text-align: justify; font-size:18px;">
                            <span style="font-size:17px;">
                                <span style="font-family:Times New Roman,Times,serif;">
                                    <br>
                                    <span style="color:black">
                                        <img alt="" src="https://www.bvdaihoc.com.vn/upload/images/cms/2023/10/27/z4778821270536_88da762e1b16056399feb63b9d8bd260.jpg" style="width:100%"><br><br>
                                        Vừa qua, tại Phòng khám MTT đã diễn ra chương trình lễ kỷ niệm ngày “Chăm sóc giảm nhẹ thế giới 2023” do phòng Công tác xã hội Bệnh viện phối hợp với khoa Lão – Chăm sóc giảm nhẹ thực hiện. Với chủ đề "Cộng đồng trắc ẩn: Cùng nhau chăm sóc giảm nhẹ", chương trình
                                    </span><span lang="EN-US"><span style="color:black">đã</span></span><span style="color:black"> thu hút hơn 100 người bệnh</span><span lang="EN-US"><span style="color:black"> là người cao tuổi và gia đình tham dự</span></span><span style="color:black">.</span><br>
                                    <br>
                                    <img alt="" src="https://www.bvdaihoc.com.vn/upload/images/cms/2023/10/27/z4778821223210_915b43a46f6467009a4e6edc5b2baeb6.jpg" style="width:100%" class=""><br>
                                    <span style="color:black">
                                        <br>
                                        Phát biểu khai mạc chương trình, ThS. Trần Văn Hùng – Trưởng phòng Công tác xã hội cho biết, Bệnh viện luôn quan tâm và chú trọng công tác chăm sóc chăm sóc giảm nhẹ. Thông qua chương trình, đội ngũ nhân viên y tế thật sự hạnh phúc khi được đồng hành cùng người bệnh trong những chương trình ý nghĩa
                                    </span><span lang="EN-US"><span style="color:black">này</span></span><span style="color:black">.</span><span lang="EN-US"><span style="color:black"> Và đ</span></span><span style="color:black">iểm nhấn </span><span lang="EN-US"><span style="color:black">trong </span></span><span style="color:black">chương trình </span><span lang="EN-US"><span style="color:black">chính </span></span><span style="color:black">là khoảng thời gian mà người tham dự cùng nghĩ, cùng nhớ về những người </span><span lang="EN-US"><span style="color:black">mình</span></span><span style="color:black"> thương yêu</span><span lang="EN-US"><span style="color:black"> và</span></span><span style="color:black"> chăm sóc. Thay cho những lời nhắn gửi, người bệnh</span><span lang="EN-US"><span style="color:black">,</span></span><span style="color:black"> người nhà cùng </span><span lang="EN-US"><span style="color:black">các </span></span><span style="color:black">nhân viên y tế cắm những bông hoa hồng đẹp nhất để gửi gắm</span><span lang="EN-US"><span style="color:black"> tình</span></span><span style="color:black"> yêu thương, cầu nguyện những điều hạnh phúc, tốt đẹp đến </span><span lang="EN-US"><span style="color:black">với mọi người</span></span><span style="color:black">.</span><br>
                                    <br>
                                    <img alt="" src="https://www.bvdaihoc.com.vn/upload/images/cms/2023/10/27/z4778821222181_e0dc5a213eaf5e305e470c3e2b82e66b.jpg" style="width:100%" class=""><br>
                                    &nbsp;
                                    <span style="color:black">
                                        <br>
                                        Ông N. N. T – Bảo Lộc, Lâm Đồng chia sẻ: “Bản thân tôi rất xúc động khi được tham gia chương trình
                                    </span><span lang="EN-US"><span style="color:black"> ý nghĩa này, không khí tại đây như một gia đình ấm áp. Nhờ vậy, </span></span><span style="color:black">tôi cảm thấy ấm lòng và có thêm tự tin trên hành trình chăm sóc người nhà tại Bệnh viện. Cảm ơn Bệnh viện không chỉ quan tâm</span><span lang="EN-US"><span style="color:black">,</span></span><span style="color:black"> chăm sóc người </span><span lang="EN-US"><span style="color:black">bệnh,</span></span><span style="color:black"> mà còn lo lắng, chữa lành tinh thần của người nhà người bệnh</span><span lang="EN-US">
                                        <span style="color:black">
                                            .”<br>
                                            <br>
                                            <img alt="" src="https://www.bvdaihoc.com.vn/upload/images/cms/2023/10/27/z4778821086645_05d14d747200c9472a64cc6797037765.jpg" style="width:100%" class="">
                                        </span>
                                    </span><span lang="EN-US"></span><br>
                                    &nbsp;
                                    <span style="color:black">
                                        <br>
                                        Công tác Chăm sóc giảm nhẹ (CSGN) là chuyên ngành chăm sóc, điều trị nhằm ngăn ngừa và giảm nhẹ những nỗi đau về thể chất, tâm lý, xã hội hoặc tâm linh mà người bệnh nặng, có nguy cơ tử vong cao phải chịu đựng. Ngày Quốc tế CSGN và chăm sóc cuối đời được tổ chức Liên minh Toàn cầu CSGN và Chăm sóc cuối đời khởi xướng năm 2005. Đây là ngày toàn thế giới thống nhất hành động để kỷ niệm và ủng hộ dịch vụ CSGN và chăm sóc cuối đời trên toàn cầu, nhằm nâng cao hiểu biết của cộng đồng các quốc gia, cổ động cho việc phát triển CSGN trên toàn thế giới.
                                    </span><br><br>
                                    <img alt="" src="https://www.bvdaihoc.com.vn/upload/images/cms/2023/10/27/z4778821121334_7eccd71daf5c801fc77d67959eea7ba8.jpg" style="width:100%" class=""><br>
                                    <br>
                                    <img alt="" src="https://www.bvdaihoc.com.vn/upload/images/cms/2023/10/27/z4778821223938_ea335cfcd40823a67fb8db3b473ec760.jpg" style="width:100%" class=""><br>
                                    <br>
                                    <img alt="" src="https://www.bvdaihoc.com.vn/upload/images/cms/2023/10/27/z4778821248097_c6f8f9d70a51a12bfcd4e49c6a1895ea.jpg" style="width:100%" class=""><br>
                                    <br>
                                    <img alt="" src="https://www.bvdaihoc.com.vn/upload/images/cms/2023/10/27/z4778821248103_c854c425a32ce230d914da956bd2a05f.jpg" style="width:100%" class="">
                                </span>
                            </span><br>
                            <br>
                        </div>

                    </section><!--//events-->
                    <section class="events list">
                        <h2 class="line" style="color:#d24400"><span>Các tin đã đăng</span></h2>
                        <div class="details col-md-12">
                            <ul class="home" style="padding-left: 0px;">
                                <li>
                                    <a href="/Home/ViewDetail/5865">
                                        NGÀY HỘI CHĂM SÓC SỨC KHỎE NGƯỜI CAO TUỔI 2023
                                    </a><span class="publish-date">(02/10/2023)</span>
                                </li>
                                <li><a href="/Home/ViewDetail/5849">Phòng khám MTT chung tay hỗ trợ người dân bị ảnh hưởng thiên tai, hỏa hoạn, dịch bệnh</a><span class="publish-date">(24/09/2023)</span></li>
                                <li><a href="/Home/ViewDetail/5848">Phòng khám MTT hoàn thành chuyển giao kỹ thuật tim mạch can thiệp cho Bệnh viện Đa khoa Tiền Giang</a><span class="publish-date">(23/09/2023)</span></li>
                                <li><a href="/Home/ViewDetail/5799">Ngày càng nhiều người trẻ mắc bệnh lý cột sống</a><span class="publish-date">(22/08/2023)</span></li>
                                <li>
                                    <a href="/Home/ViewDetail/5759">
                                        Sôi nổi ngày hội chăm sóc sức khỏe gia đình cùng Phòng khám MTT

                                    </a><span class="publish-date">(11/06/2023)</span>
                                </li>
                                <li><a href="/Home/ViewDetail/5756">Chương trình đào tạo y khoa liên tục chuyên đề “Triển khai hiệu quả công tác an toàn người bệnh năm 2023”</a><span class="publish-date">(27/05/2023)</span></li>
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </div>



    <script type="text/javascript">
        (function ($) {
            $.noConflict();
            $(function () {
                $("#scroller").simplyScroll({ orientation: 'vertical', customClass: 'vert' });
            });
        })(jQuery);</script>
</div>


