@model DoAn_CNPM.Models.DetailForm

@{
    ViewBag.Title = "XÓA CHI TIẾT ĐƠN KHÁM";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid f-edit">
    <div class="tabular--wrapper">
        <div class="table-container">
            <h2 class="h2--title">@ViewBag.Title </h2>
            <hr />
            <dl class="row">
                <dt class=" col-sm-4">
                    Id Đơn khám
                </dt>

                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Form.FormId)
                </dd>

                <dt class=" col-sm-4">
                    Tổng tiền
                </dt>

                <dd class="col-sm-8" style="color:red;font-weight:600">
                    @{
                        string formattedTotal = string.Format("{0:#,##0}", Model.TotalMoney);
                        formattedTotal = formattedTotal.Replace(",", ".");
                    }

                    @Html.DisplayFor(modelItem => formattedTotal) VNĐ
                </dd>

                <dt class=" col-sm-4">
                    Trạng thái khám
                </dt>

                @if (Model.IsExamined == true)
                {
                    <dd class=" col-sm-8 check-true">
                        Đã thăm khám
                    </dd>
                }
                else
                {
                    <dd class=" col-sm-8 check-false">
                        Chưa thăm khám
                    </dd>
                }

                <dt class=" col-sm-4">
                    Trạng thái thanh toán
                </dt>

                @if (Model.IsPaid == true)
                {
                    <dd class=" col-sm-8 check-true">
                        Đã thanh toán
                    </dd>
                }
                else
                {
                    <dd class=" col-sm-8 check-false">
                        Chưa thanh toán
                    </dd>
                }

                <dd class="col-12" style="text-align:center">
                    <br />
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <input type="submit" value="Xóa" class="btn btn-del" />
                    }
                </dd>
            </dl>
        </div>
    </div>
    <div class="back">
        <a href="~/DetailForms/Index"><i class="fa-solid fa-arrow-left"></i></a>
    </div>
</div>
