
@{
    ViewBag.Title = "ĐĂNG KÝ TÀI KHOẢN THÀNH CÔNG";
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
}

<div class="background" style="min-height:300px;">
    <div class="product">
        <img src="~/Images/Icon/true.png" alt="" style=" display: block; margin: auto; padding: 8px; width: 100px;" />
        <h1 style="color: limegreen; font-size: xx-large; text-align: center;">@ViewBag.Title</h1>
    </div>
</div>
