@model DoAn_CNPM.Controllers.ErrorController
@{
    ViewBag.Title = "Bị lỗi rùi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1 class="background product" style="text-align:center">@ViewBag.Title</h1>

<img src="~/Images/Error/error.png" style="margin: auto; width: 1100px; display: block; margin-bottom: 10px"/>