@model DoAn_CNPM.Models.Customer

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style=" width: 50%; ">
    <h2 style="text-align: center">XÓA KHÁCH HÀNG</h2>
    <div>
        <hr />
        <dl class="row">
            <dt class=" col-sm-4">
                Họ tên
            </dt>

            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.NameCus)
            </dd>
            <br />
            <dt class=" col-sm-4">
                Số điện thoại
            </dt>

            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.PhoneCus)
            </dd>
            <dd style="text-align:center">
                <br />
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <input type="submit" value="Xóa" class="btn btn-danger" />
                }
            </dd>
        </dl>
    </div>
    <div>
        @Html.ActionLink("Trở về", "Index")
    </div>
</div>