
@{
    ViewBag.Title = "Đặt Đơn khám trực tuyến thành công";
    Layout = "~/Views/Shared/_Layout_Patient.cshtml";
}

@if (Session["admin"] != null || Session["patient"] != null)
{


    <div class="background" style="min-height:300px;">
        <div class="product">
            <img src="~/Images/Icon/true.png" alt="" style=" display: block; margin: auto; padding: 8px; width: 100px;" />
            <h1 style="color: limegreen; font-size: xx-large; text-align: center;">Đặt lịch khám thành công! Xin cảm ơn @Session["FullName"] đã sử dụng dịch vụ của chúng tôi.</h1>
        </div>
    </div>
}
else
{
    <div class="background" style="min-height: 300px; text-align: center;">
        <div class="product">
            <img src="~/Images/Icon/true.png" alt="" style=" display: block; margin: auto; padding: 8px; width: 100px;" />
            <h1 style="color: limegreen; font-size: xx-large;">Đặt lịch khám thành công! Xin cảm ơn đã sử dụng dịch vụ của chúng tôi.</h1>
            <h3>
                Hãy đăng ký là thành viên của Phòng khám chúng tôi để lần khám tiếp theo không cần nhập lại thông tin
                <br />
                <a href="~/LoginUser/Register" style="color:red"> ĐĂNG KÝ TẠI ĐÂY</a>
            </h3>
        </div>
    </div>
}

